h1,h2 {
    color: gray;
    font-family: Arial, Helvetica, sans-serif;
}



ul,ol, a, i {
    font-family: Arial, Helvetica, sans-serif;
}


table{
    color: brown;
    font-family: Arial, Helvetica, sans-serif;
}

