@font-face {
    font-family: 'roboto';
    src: url("fonts/Roboto-Light.ttf");
    font-weight: 200;
}

html {
    font-family: "roboto", Arial, Helvetica, sans-serif;
    text-align: left;

}


h1,
h2,
h3 {
    color: gray;
    text-align: center;
    font-weight: 100;
}

ul,
ol {
    font-weight: 100;

}

a {
    text-transform: uppercase;
}


table {
    color: brown;
    text-align: left;
}