@font-face {
    font-family: 'roboto';
    src: url("fonts/Roboto-Light.ttf");
    font-weight: 200;
}

@font-face {
    font-family: 'robotoBold';
    src: url("fonts/Roboto-Bold.ttf");
    font-weight: 200;
}

html {
    font-family: "roboto", Arial, Helvetica, sans-serif;
    text-align: left;
    background-color: aliceblue;

}

h1,
h2,
h3 {
    color: gray;
    text-align: center;
    font-weight: 100;
}

ul,
ol {
    font-weight: 100;
}

a {
    text-transform: uppercase;
}


table {
    color: brown;
    text-align: left;
    width: display/2;
}


.buttonDiv{
    color: black;
    font-family: "robotoBold", Arial, Helvetica, sans-serif;
    margin: 5px 5px 5px 5px; 
    padding: 10px 10px 10px 10px;
    border: dashed;
    border-width: 1px;
    border-radius: 10px;
    background-color: lightblue;
    text-decoration:none
      
}
#aboutID
{
    margin: 50px 0px 0px 0px; 
    padding: 50px 0px 1px 0px;
}
#othersID
{
    margin: 50px 0px 0px 0px; 
    padding: 50px 0px 1px 0px;
}
#indexID{
    background-color: antiquewhite;
    margin: 50px 0px 0px 0px; 
    border: 0px;
    padding: 50px 0px 1px 0px;
}

#milID{
    
    background-color: whitesmoke;
    margin: 0px 0px 0px 0px; 
    border: 0px;
    padding: 15px;
}
#profPicID{
    max-width: 20%;
    min-width: 150px;
    
}




